.body-wrapper {
    width: 90vw;
    height: 90vh;
    margin: 0 auto;
    background-color: linear-gradient(180deg, #cc3131 0%, #FFFFFF 100%);
    /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; */
}