.image-card {
    cursor: pointer;
    background-color: var(--global-secondary-lightcolor);
    /* background-color: #c59827; */
    border-radius: 1rem;
}

.image-sizing {
    width: 100%;
    height: 100%;
    object-fit: cover;
}