:root {
    --global-primary-lightcolor: #F4F4F4;
    --global-actions-color: #9BA657;
    --global-secondary-lightcolor: #F0E5C9; 
    --global-secondary-darkcolor: #A68C69;
    --global-primary-darkcolor: #594433;
  }


.image-card {
    cursor: pointer;
    background-color: var(--global-secondary-darkcolor);
    /* background-color: #c59827; */
    border-radius: 1rem;
}

.image-sizing {
    width: 100%;
    height: 100%;
    object-fit: contain;
}