.input {
    margin-bottom: 2vh;
    padding: 10px;
    max-width: fit-content;

    /* width: 2000px; */

}

/* .form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.form button:hover {
    background-color: #0056b3;
} */
