.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    align-self: center;
}

.form input {
    margin-bottom: 10vh;
    padding: 5px;
    width: 2000px;
}

.form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.form button:hover {
    background-color: #0056b3;
}
