.App {
  text-align: center;
}

:root {
  --global-primary-darkcolor: #594433;
  --global-primary-lightcolor: #F4F4F4;
  --global-secondary-darkcolor: #A68C69;
  --global-secondary-lightcolor: #F0E5C9; /* Fundo de menu */
  --global-actions-color: #9BA657;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

